# PYTHON PROGRAMMING CODES

Code by Unukuru Tarun Kumar (Source : Telusko-Youtube )

In [3]:
print('Om sai Ram')

Om sai Ram

In [1]:
#user input in python

x=input("Enter the 1st number : ")
a=int(x)
y=input("Enter the 2nd number : ")
b=int(y)

z=a+b
print("Sum of the number is :",z)
#print(z)

Enter the 1st number : 45
Enter the 2nd number : 5
Sum of the number is : 50

In [2]:
x=int(input("Enter 1st value : "))
y=int(input("Enter 2nd value : "))

z=x+y
print(z)

Enter 1st value : 50
Enter 2nd value : 40
90

In [4]:
#printing character:
ch=input("Enter the char : ")[0]
print(ch)

Enter the char : tarun
t

In [2]:
#printing result/Evaluation
result=eval(input("Enter the expression"))
print(result)

Enter the expression4-7+7
4

In [6]:
#If elif else statement :
x=3
r=x%2
if r==0:
    print("Even")
    if x>5:
        print("Great")
    else:
        print("Not great")
else:
    print("Odd")

print("Bye")

Odd
Bye

Note : If in side the if is called Nested if.

In [9]:
x=3
if(x==1):
    print("One")
elif(x==2):
    print("Two")
elif(x==3):
    print("Three")
else:
    print("Wrong input")

Three

In [10]:
i=1
while i<=5:
    print("Tarun")
    i=i+1

Tarun
Tarun
Tarun
Tarun
Tarun

In [11]:
x="TARUN"
for i in x:
    print(i)

T
A
R
U
N

In [12]:
for i in [2,6,'Tarun']:
    print(i)

2
6
Tarun

In [13]:
for i in range(11,21,1):
    print(i)

11
12
13
14
15
16
17
18
19
20

In [14]:
for i in range(11,21,5):
    print(i)

11
16

In [15]:
for i in range (20,11,-1):
    print(i)

20
19
18
17
16
15
14
13
12

In [16]:
#List of numbers not divisiable by 5 :
for i in range(1,21):
    if(i%5!=0):
        print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19

In [17]:
# Break-Continue-Pass :
av = 5
x = int(input("How many candies you want ? : "))

i = 1
while i <= x:
    if i > av:
        print("Out of stock")
        break
    print("Candy")
    i += 1

print("Bye")

How many candies you want ? : 15
Candy
Candy
Candy
Candy
Candy
Out of stock
Bye

In [2]:
for i in range(1, 25):
    if i % 3 == 0 and i % 5 == 0:
        continue
    print(i)

print("Bye")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
16
17
18
19
20
21
22
23
24
Bye

In [3]:
for i in range(1, 20):
    if i % 3 == 0 or i % 5 == 0:
        continue
    print(i)

print("Bye")

1
2
4
7
8
11
13
14
16
17
19
Bye

In [3]:
for i in range(5):
    if i == 3:
        break
    print("Hello", i)
    if i == 4:
        pass


    def fun():
        pass


    class Human:
        pass

Hello 0
Hello 1
Hello 2

In [4]:
for i in range(4):
	for j in range(4):
		print("#",end="")
	print()

####
####
####
####

In [7]:
for i in range(4):
	for j in range(i+1):
		print("#",end="")
	print()

#
##
###
####

In [5]:
for i in range(4):
	for j in range(4-i):
		print("#",end="")
	print()

####
###
##
#

In [8]:
nums = [12, 15, 18, 21, 26]

for i in nums:

    if i % 5 == 0:
        print(i)

15

In [9]:
nums = [12, 15, 18, 21,20, 25]

for i in nums:

    if i % 5 == 0:
        print(i)

15
20
25

In [11]:
nums = [12, 15, 18, 21, 20, 25]

for i in nums:

    if i % 5 == 0:
        print(i)
        break

15

In [12]:
nums = [12, 16, 18, 21, 26, 27]

for i in nums:

    if i % 5 == 0:
        print(i)
        break
    else:
        print("Not found the value divisible by 5.")

Not found the value divisible by 5.
Not found the value divisible by 5.
Not found the value divisible by 5.
Not found the value divisible by 5.
Not found the value divisible by 5.
Not found the value divisible by 5.

In [13]:
nums = [12, 16, 18, 21, 26, 27]

for i in nums:

    if i % 5 == 0:
        print(i)
        break
else:
        print("Not found the value divisible by 5.")

Not found the value divisible by 5.

In [14]:
nums = [10,12, 16, 18, 21, 26, 27]

for i in nums:

    if i % 5 == 0:
        print(i)
        
else:
        print("Not found the value divisible by 5.")

10
Not found the value divisible by 5.

In [15]:
#prime number :

num=7
for i in range(2,num):
    if num%i==0:
        print("Not prime number")
else:
    print("Prime number")

Prime number

In [16]:
#prime number :

num=int(input("Enter the number : "))

for i in range(2,num):
    if num%i==0:
        print("Not prime number")
        break
else:
    print("Prime number")

Enter the number : 7
Prime number

In [19]:
#prime number :

num=int(input("Enter the number : "))

for i in range(2,num):
    if num%i==0:
        print("Not prime number")
        break
else:
    print("Prime number")

Enter the number : 3
Prime number

The above programs are till video-25.

#VIDEO-19 : PRINT FORMATTING WITH STRINGS :-

In [20]:
print('This is a string{}'.format(' INSERTED'))

This is a string INSERTED

In [21]:
print('The{0}{0}{0}'.format(' fox','brown','quick'))

The fox fox fox

In [22]:
print('The{0}{1}{2}'.format(' fox','brown','quick'))

The foxbrownquick

In [24]:
print('The{q}{b}{f}'.format(f=' fox',b=' brown',q=' quick'))

The quick brown fox

In [51]:
result=100/777
result

0.1287001287001287

In [52]:
print("The result was {r}".format(r=result))

The result was 0.1287001287001287

In [53]:
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

In [54]:
print("The result was {r:1.5f}".format(r=result))

The result was 0.12870

In [55]:
result=104.12345
print("The result was {r:1.2f}".format(r=result))

The result was 104.12

In [57]:
#quiz
print("Python {}".format("rules!"))

Python rules!

In [61]:
T={'Monday':'Class','Sunday':'Holiday'}
print(T)

{'Monday': 'Class', 'Sunday': 'Holiday'}

# Next Day ===>>>

In [2]:
import math
x=math.sqrt(25)
print(x)

y=math.sqrt(15)
#print(type(int(y)))
print(int(y))

5.0
3

In [9]:
import math as m
x=m.sqrt(100)
print(int(x))

10

In [10]:
# User input in python :

x = input("Enter 1st number : ")
a = int(x)

y = input("Enter 1st number : ")
b = int(y)

z = a + b
print(z)

Enter 1st number : 45
Enter 1st number : 6
51

In [15]:
# (Shortcut) User input in python :

x = int(input("Enter 1st number : "))
#a = int(x)

y = int(input("Enter 2st number : "))
#b = int(y)

z = x + y
print(z)

Enter 1st number : 2
Enter 2st number : 8
10

In [16]:
result=eval(input("Enter the expression : "))
print(result)

Enter the expression : 78-8+10
80

# Next day ===>>>

In [1]:
x = input("Value 1: ")
y = input("Value 2: ")

a = int(x)
b = int(y)
c = a + b
print(c)

Value 1: 78
Value 2: 22
100

In [2]:
from math import sqrt,pow

m=int(input("Enter the base value  : "))
n=int(input("Enter the power value : "))
x=pow(m,n)

print(x)

Enter the base value  : 4
Enter the power value : 5
1024.0

In [3]:
result=eval(input("Enter an expression : "))
print(result)

Enter an expression : 78-8+30
100

In [5]:
#if elif else statement :

x=int(input("Enter a number : "))
r=x%2

if r==0:
    print("The number is Even")
    if x>5:
        print("Great")
    else:
        print("Not so great")
else:
    print("The number is Odd")
    #print("Code completed.")
   # print(Bye)

Enter a number : 17
The number is Odd

In [6]:
# while loop :

n = int(input("Enter the n value : "))
i = 1
while i <= n:
    print(i, "Tarun")
    i = i + 1

Enter the n value : 4
1 Tarun
2 Tarun
3 Tarun
4 Tarun

In [7]:
for i in [2,6,'Tarun']:
    print(i)

2
6
Tarun

In [10]:
n=int(input("Enter the n value : "))
for i in range(n):
    print(i)

Enter the n value : 5
0
1
2
3
4

In [11]:
for i in range(11,21,2):
    print(i)

11
13
15
17
19

In [13]:
i=1
while i<=5:
    print("Tarun",end="")

    j=1
    while j<=4:
        print(" Rocks",end="")
        j=j+1

    i=i+1
    print()

Tarun Rocks Rocks Rocks Rocks
Tarun Rocks Rocks Rocks Rocks
Tarun Rocks Rocks Rocks Rocks
Tarun Rocks Rocks Rocks Rocks
Tarun Rocks Rocks Rocks Rocks

In [14]:
#Print a Table :

x=0

for i in range(2,22,2):
    x=x+1
    print("2 x ",x,"=",i)

2 x  1 = 2
2 x  2 = 4
2 x  3 = 6
2 x  4 = 8
2 x  5 = 10
2 x  6 = 12
2 x  7 = 14
2 x  8 = 16
2 x  9 = 18
2 x  10 = 20

In [15]:
#printing numbers reverse from m to n.
m=int(input("Enter m value : "))
n=int(input("Enter n value : "))

for i in range(m,n,-1):
    print(i)

Enter m value : 100
Enter n value : 95
100
99
98
97
96

# Next Day ===>>>

In [1]:
#nested if

x=int(input("Enter a number : "))
if(x==1):
    print("one")
elif(x==2):
    print("Two")
elif(x==3):
    print("Three")
else:
    print("Invaid Input")

Enter a number : 3
Three

In [2]:
#printing patterns :

for i in range(4):
    for j in range(4):
        print("#",end="")
    print()

####
####
####
####

In [3]:
#printing patterns : (i+1)

for i in range(4):
    for j in range(i+1):
        print("#",end="")
    print()

#
##
###
####

In [4]:
#printing patterns : (4-i)

for i in range(4):
    for j in range(4-i):
        print("#",end="")
    print()

####
###
##
#

In [5]:
#prime number :

num=int(input("Enter a number : "))
for i in range(2,num):
    if num%i==0:
        print("Not a prime number.")
        break
    else:
        print("It is a Prime number.")
        break

Enter a number : 73
It is a Prime number.

In [6]:
#function :

def tarun():
    print("Hello NITC")
    print("Hello World!!!")

def add(x,y):
    c=x+y
    print(c)
    
tarun()
add(5,4)

Hello NITC
Hello World!!!
9

In [7]:
#function : with return

def add(x,y):
    c=x+y
    return c

result=add(5,4)
print(result)

9

In [11]:
# function :

def add(x, y):
    c = x + y
    d = x - y
    return c, d

result1, result2 = add(5, 4)

print("Add of two x+y : ", result1)
print("Add of sub x+y : ", result2)

Add of two x+y :  9
Add of sub x+y :  1

# Next day ===>>>

In [1]:
def update(x):
    x=8
    print("x:",x)

a=45
update(a)
print("a:",a)

x: 8
a: 45

In [3]:
def update(x):
    print("id of x:",id(x))

x=8
print(id(x))


a=10
print("id of a:",id(a))
update(a)
print("x:",x)
print("a:",a)

2691277875728
id of a: 2691277875792
id of x: 2691277875792
x: 8
a: 10

In [4]:
def update(lst):
    print(id(lst))
    lst[1]=25
    print(id(lst))
    print("x:  ",lst)

lst=[10,20,30]
print("lst: ",lst)
print(id(lst))
update(lst)
print("lst:",lst)

lst:  [10, 20, 30]
2691358772416
2691358772416
2691358772416
x:   [10, 25, 30]
lst: [10, 25, 30]

# NEXT DAY ===>>>

In [1]:
#TYPE OF ARGUMENTS :

def add(a,b):  #formal argument
    c=a+b
    print(c)

add(5,6)       #Actual argument
                     #===>>>  Actual arguments :
                              #  1.position
                              #  2.keyword
                              #  3.Default
                              #  4.varablelength

11

In [2]:
#for adding multiple values :

def sum(a,*b):
    c=a
    for i in b:
        c=c+i
    print(c)
    
sum(5,6,34,78,400)

523

# Next day ===>>>

In [1]:
#key wordd variable length Arguments:

def person(name,*data):
    print(name)
    print(data)

person('tarun',28,'raipur',9109913300)

tarun
(28, 'raipur', 9109913300)

In [2]:
#key wordd variable length Arguments:
#code2

def person(name,**data):
    print(name)
    print(data)

person('tarun',age=21,city='raipur',mob='910991')

tarun
{'age': 21, 'city': 'raipur', 'mob': '910991'}

In [17]:
#key word variable length Arguments:
#code3

def person(name,**data):
    print(name)

    for i,j in data.item():
        print(i,j)

person('tarun',age='21',city='raipur',mob='910991')

tarun

AttributeError: 'dict' object has no attribute 'item'

In [4]:
#Global vs Local Variables :
#code1:

a=10
def something():
    a=15
    print("Inside value :",a)

something()
print("Outside value :",a)

Inside value : 15
Outside value : 10

In [5]:
#code2:

a=10
def something():
    print("Inside value :",a)

something()
print("Outside value :",a)

Inside value : 10
Outside value : 10

In [6]:
#code3:

a=10
print(id(a))

def something():
    a=9
    x=globals()['a']
    print(id(x))
    print("Inside value  :",a)

something()
print("Outside value :",a)

2219826113104
2219826113104
Inside value  : 9
Outside value : 10

In [7]:
#code4:

a=10
print(id(a))

def something():
    a=9
    x=globals()['a']
    print(id(x))
    print("Inside value  :",a)
    globals()['a']=15

something()
print("Outside value :",a)

2219826113104
2219826113104
Inside value  : 9
Outside value : 15

In [8]:
#Pass List to a function :

def count(lst):
    even=0
    odd=0

    for i in lst:
        if i%2==0:
            even=even+1
        else:
            odd=odd+1
    return even,odd

lst=[20,25,14,19,16,24,28,47,26]
even,odd =count(lst)

print("Even:{} and Odd:{}".format(even,odd))

Even:6 and Odd:3

In [9]:
#Fibonacci Sequence :

def fib(n):
    a=0
    b=1

    if n==1:
        print(a)
    else:
        print(a)
        print(b)

        for i in range(2,n):
            c=a+b
            a=b
            b=c
            print(c)

fib(10)

0
1
1
2
3
5
8
13
21
34

In [10]:
#factorial:

def fact(n):
    f=1
    for i in range(1,n+1):
        f=f*i
    return f

x=int(input("Enter the x value : "))
result = fact(x)
print(result)

Enter the x value : 5
120

In [11]:
#Recursion :
# If a function is calling itself is called Recursion.

import sys
print(sys.getrecursionlimit())

3000

In [6]:
#code2:

import sys
sys.setrecursionlimit()
print(sys.getrecursionlimit(10))
i=0

def greet():
    global i
    i=i+1
    print("Hello",i)
    greet()
    
greet()

TypeError: sys.setrecursionlimit() takes exactly one argument (0 given)

In [7]:
#Factorial using Recursion :

def fact(n):
    if n==0:
        return 1
    return n*fact(n-1)

result=fact(5)
print(result)

120

In [18]:
#code1

#Video (42) : Anonymous Functions / Lambda
#Function without name is called Anonymous function.

f=lambda a,b: a+b
result=f(5,6)
print(result)

11

In [19]:
#code2

f=lambda a:a*a
result=f(25)
print(result)

625

In [20]:
#code1
#Video-43:   Filter Map Reduce :

nums=[3,2,6,8,4,6,2,9]
evens=list(filter(lambda n: n%2==0, nums))

print(evens)

[2, 6, 8, 4, 6, 2]

In [22]:
#code2 - Or

def is_even(n):
    return n%2==0

nums=[3,2,6,8,4,6,2,9]
evens=list(filter(is_even,nums))
print(evens)

[2, 6, 8, 4, 6, 2]

In [12]:
#code3 -- Video43

from functools import reduce

nums=[3,2,6,8,4,6,2,9]
evens=list(filter(lambda n:n%2==0,nums))
doubles=list(map(lambda n:n*2,evens))
print(doubles)
sum=reduce(lambda a,b:a+b, doubles)
print(sum)

[4, 12, 16, 8, 12, 4]
56

# NEXT DAY ===>>>

OOPS :
        -Object
        -Class
        -Encapsulation
        -Polymorphism

In [21]:
class computer:
    def config(self):
        print("i5,16GB,1TB")

com1=computer()
computer.config(com1)

i5,16GB,1TB

In [20]:
class computer:
    def config(self):
        print("i5,16gb,1TB")

x=9
print(type(x))

a='8'
print(type(a))

com1=computer()
print(type(com1))

<class 'int'>
<class 'str'>
<class '__main__.computer'>

In [22]:
class computer:
    def config(self):
        print("i5,16GB,1TB")

com1=computer()
com2=com1

computer.config(com1)
computer.config(com2)

com1.config()
com2.config()

i5,16GB,1TB
i5,16GB,1TB
i5,16GB,1TB
i5,16GB,1TB

In [25]:
#video-50:
# _init_ method :

class computer:
    def __init__(self,cpu,ram):
        self.cpu=cpu
        self.ram=ram
    def config(self):
        print("Config is",self.cpu,self.ram)

com1=computer("i5",16)
com2=computer("ryzen3",8)

com1.config()
com2.config()

Config is i5 16
Config is ryzen3 8

In [1]:
class computer:
    def __init__(self,cpu,ram):
        self.cpu=cpu
        self.ram=ram
    def config(self):
        print("Config is ",self.cpu,self.ram)

com1=computer('Tarun','Asus')
com2=computer('Santhosh','HP')

com1.config()
com2.config()

Config is  Tarun Asus
Config is  Santhosh HP

# NEXT DAY ===>>>

In [2]:
class computer:
    pass

c1=computer()
c2=computer()

print(id(c1))
print(id(c2))

1499059022048
1499059022480

In [4]:
#compare(who is calling, whom to call)

class computer:
    def __init__(self):
        self.name='Tarun'
        self.age=21

c1=computer()
c2=computer()

c1.name="Rashi"
c1.age="22"

print(c1.name,c1.age)
print(c2.name,c2.age)

Rashi 22
Tarun 21

In [7]:
#code3:

class computer:
    def __init__(self):
        self.name='Tarun'
        self.age=21
    def compare(self,other):
        if self.age==other.age:
            return True
        else:
            return False

c1=computer()
c1.age=20

c2=computer()

if c1.compare(c2):
    print("They are same")
else:
    print("They are different")

print(c1.name)
print(c2.name)

They are different
Tarun
Tarun

 Namespace : Namespace is an area where you create and store object/varable.
              ->Class namespace
              ->Object/Instance namespace

In [9]:
#video52: Types of Variables.

class car:
    wheels=4

    def __init__(self):
        self.mile=10
        self.comp='BMW'   #comp=company

c1=car()
c2=car()

c1.mile=8
car.wheels=6

print(c1.comp,c1.mile,c1.wheels)
print(c2.comp,c2.mile,c2.wheels)

BMW 8 6
BMW 10 6

Types of methods
        ->Instance class
        ->Class Method
        ->Static Method

In [11]:
#video:53  Types of methods

class student:
    school='SriChaitanya'

    def  __init__(self,m1,m2,m3):
        self.m1=m1
        self.m2=m2
        self.m3=m3

    def avg(self):
        return (self.m1+self.m2+self.m3)/3

s1=student(34,47,32)
s2=student(89,32,12)

print(s1.avg())

37.666666666666664

In [4]:
#video:53  Types of methods
#code 2
class student:
    school='SriChaitanya'

    def  __init__(self,m1,m2,m3):
        self.m1=m1
        self.m2=m2
        self.m3=m3

    def avg(self):
        return (self.m1+self.m2+self.m3)/3

    @classmethod
    def getschool(cls):
        return cls.school
    @staticmethod
    def info():
        print("This is student class...in abc")

s1=student(34,47,32)
s2=student(89,32,12)

print(s1.avg())
print(student.getschool())
student.info()

37.666666666666664
SriChaitanya
This is student class...in abc

Video-54: Inner Class
  Class inside the class is called Inner class.

In [13]:
#Video-54: Inner Class
#code1

class student:
    def __init__(self,name,rollno):
        self.name=name
        self.rollno=rollno

s1=student('Tarun',74)
s2=student('Anvesh',12)

print(s1.name,s1.rollno)
print(s2.name,s2.rollno)

Tarun 74
Anvesh 12

In [1]:
#Video-54: Inner Class
#code2

class student:
    def __init__(self,name,rollno):
        self.name=name
        self.rollno=rollno
        self.lap=self.laptop()

    def show(self):
        print(self.name,self.rollno)
        self.lap.show

    class laptop:
        def __init__(self):
            self.brand='HP'
            self.cpu='i5'
            self.ram=8

        def show(self):
            print(self.brand,self.cpu,self.ram)



s1=student('Tarun',74)
s2=student('Jenny',12)

s1.show()
lap1=student.laptop()

Tarun 74

In [2]:
#Video-55: Inheritance :

class A:
    def feature1(self):
        print("Feature 1 working")

    def feature2(self):
        print("Feature 2 working")

class B:
    def feature3(self):
        print("Feature 3 working")

    def feature4(self):
        print("Feature 4 working")

class C(A,B):
    def feature5(self):
        print("Feature 5 working")
c1 = C()

c1.feature1()
c1.feature2()
c1.feature3()
c1.feature4()
c1.feature5()

Feature 1 working
Feature 2 working
Feature 3 working
Feature 4 working
Feature 5 working

Vidoe-56

Constructor in Inheritance :
Note:
1.Sub class can access all the features of super class.
But,
2.Sub class not access any features of sub class.

In [1]:
#

class A:
    def __init__(self):
        print("in A Init")
    def feature1(self):
        print("Feature 1 working")
    def feature2(self):
        print("Feature 2 working")

class B(A):
    def __init__(self):
        print("in B Init")
    def feature1(self):
        print("Feature 3 working")
    def feature2(self):
        print("Feature 4 working")
        
a1=B()

in B Init

# NEXT DAY===>>>